Within the XML-document, there may be:
  - Exemplary outlines (each one enclosed in XML-tags "contract_outline")
  - Exemplary summaries (each one enclosed in XML-tags "contract_summary")
  - Exemplary phrases (each one enclosed in XML-tags "contract_excerpt")
  - Exemplary contracts (each one enclosed in XML-Tags "contract").