Innerhalb des XML-Dokuments kann es:
  - Beispielhafte Gliederungen (XML-tags "contract_outline" eingeschlossen)
  - Beispielhafte Zusammenfassungen (jeweils in XML-Tags "contract_summary" eingeschlossen)
  - Beispielhafte Phrasen (jeweils in XML-Tags "contract_excerpt" eingeschlossen)
  - Beispielhafte Verträge (jeweils in XML-Tags "contract" eingeschlossen)
geben.