Schreibe ein goßes, sehr sehr ausführliches Prompt, das als einzige Eingabe an Dich ausreichend ist, um das folgenden Dokument von Dir erzeugen zu lassen.

Dokument:
###################################
{{ md_or_plaintext }}
###################################