Write a large, extremely detailed prompt that is sufficient as input alone for you to generate the following document.

Document:
###################################
{{ md_or_plaintext }}
###################################