Das folgende ist ein XML-Dokument (in XML-Tags "xmldata" eingeschlossen).
In dem XML-Dokument gibt es weitere Informationen bzw. Beispiele, um Deine vorherige Antwort zu überarbeiten.
{% include "docinfo_de_xml_chat.jinja" +%}

<xmldata>
{{ context.strip() | indent("\t\t", True, True) }}
</xmldata>

{%+ include "rules_de_xml_chat.jinja" +%}

Überarbeite nun bitte Deine vorherige Antwort so, dass sie die bereitgestellten Informationen und Beispiele berücksichtigt und meine Anfrage besser beantwortet.