Das folgende ist ein XML-Dokument (in XML-Tags "xmldata" eingeschlossen).
Es enthält eine urprüngliche Anfrage (XML-Tags "original_prompt"), Deine ursprüngliche Antwort darauf (XML-Tags "original_response") und weitere Informationen bzw. Beispiele dazu (innerhalb des XML-Tags "context").
Innerhalb des XML-Tags context kann es:
  - Beispielhafte Gliederungen (XML-tags "contract_outline" eingeschlossen)
  - Beispielhafte Zusammenfassungen (jeweils in XML-Tags "contract_summary" eingeschlossen)
  - Beispielhafte Phrasen (jeweils in XML-Tags "contract_excerpt" eingeschlossen)
  - Beispielhafte Verträge (jeweils in XML-Tags "contract" eingeschlossen)
geben.