When preparing your response, you have to follow these rules:
  - You are not allowed to mention, that this is an updated or refined response (except for the NOTE mentioned below)
  - You are not allowed to include XML-tags in your response
  - If you want to reference the given examples, you have to incorporate the relevant parts of the examples into the response yourself
  - Add one line as a NOTE (prepend that with NOTE:) without any further markups containing why you have found the examples useful or not