ollama==0.6.1
# chromadb
chromadb-client==1.3.6
bcrypt==5.0.0
pytz==2025.2
types-pytz==2025.2.0.20251108
loguru==0.7.3
pydantic==2.12.5
pydantic-settings==2.12.0
python-magic==0.4.27
pydantic-yaml==1.6.0
PyYAML==6.0.3
ruamel.yaml==0.18.16
#duckduckgo_search
serpapi==0.1.5

numpy==2.3.5
pandas==2.2.3
# slack-sdk
httpx==0.28.1
instructor==1.13.0

# needed for instructor->ollama
openai==2.9.0

openparse==0.7.0


# HT 20240905 disabled at the moment...
# spacy
# en-core-web-md
# de-core-news-md
# nltk

llama-cloud-services==0.6.54
llama-index==0.14.10
llama-index-embeddings-ollama==0.8.4
llama-index-llms-ollama==0.9.0
llama-index-readers-file==0.5.5

PyMuPDF==1.26.6

langchain==1.1.3
langchain-community==0.4.1
langchain-core==1.1.3
langgraph==1.0.4
beautifulsoup4==4.14.3

Jinja2==3.1.6
redis==7.1.0

SQLAlchemy==2.0.45
psycopg2-binary==2.9.11
# psycopg2 #needs: apt -y install libq-dev


cachetools==6.2.2

reputils==0.0.12


# https://github.com/alfonsrv/mail-parser-reply
mail-parser-reply==1.36

imaplib2==3.6
IMAPClient==3.0.1


# msgraph-sdk
# msal

# for importing to vector-db
# html to markdown
markdownify==1.2.2

# word to html
mammoth==1.11.0

# xlsx read
openpyxl==3.1.5

# for extracting text/plain from emails
html-text==0.7.1
lxml==6.0.2
