Die urpsrüngliche Anfrage war (zwischen den Zeilen mit "#####################"):
#####################
{{ original_prompt }}
#####################

Unsere urpsrüngliche Antwort auf die ursprüngliche Anfrage war (zwischen den Zeilen mit "#####################"):
#####################
{{ existing_response }}
#####################

Wir haben jetzt die Möglichkeit, unsere ursprüngliche Antwort (wenn nötig) zu überarbeiten. Dazu können wir die folgenden Beispiele in den Kontext nehmen und berücksichtigen.
{{ context }}

Unter Berücksichtigung des neuen Kontextes / der neuen Beispiele, überarbeite bitte die ursprüngliche Antwort so, dass sie besser zur ursprünglichen Anfrage paßt.
Erwähne nicht, dass dies eine überarbeitete und/oder aktualisierte Antwort ist.
Wenn der neue Kontext und die neuen Beispiele nicht hilfreich sind, gib einfach die ursprüngliche Antwort zurück.