In the following is a document after the line starting with ########### which was converted from a different format.

###########
{md_or_plaintxt}
###########

Make sure to properly markup headlines and rewrite lists to be genuine markup (ordered and/or un-ordered) lists so that the
resulting markdown has a semantically improved, usefull and meaningfull structure without losing structural information from the original document.
Add an extra newline before every list-item, sub-list-item and/or headline.
Also, make sure to not change the text itself. So, you just have to keep that in mind and to reformat that document in proper markdown format.