In the following there is a contract enclosed in the lines starting with ################.

################
{md_or_plaintxt}
################

Create a concise overall summary in {%+ if lang == "en" %}english{% else %}german{% endif +%} of that contract.