The original prompt was (enclosed within the lines with "#####################"):
#####################
{{ original_prompt }}
#####################

Our original response to that original prompt was (enclosed within the lines with "#####################"):
#####################
{{ existing_response }}
#####################

We have the opportunity to refine the original response (only if needed) with some more context/examples. Therefore we are have the following new context / new examples.
{{ context }}

Do not mention, that this is a refined and/or updated response.
If you want to reference to the given examples, you have to incorporate the relevant parts of the examples into your adapted response.
If the new context and the new examples are not useful, just return the original response.
Using the information from the new context / the new examples, refine the original response to better answer the original prompt (where applicable).